:root {
    --input_element_height: 30px;
}

body {
    background-color: rgb(50, 50, 50);
}

dialog::backdrop {
    background-color: rgba(100, 100, 100, 0.5);
}

dialog #storageInfo::before{
    content: "Memory Size : ";
}

#player * {
    width: 100%;
}

#mediaList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));

    margin-top: var(--input_element_height);
}

.file {
    background-color: gray;
    margin: 8px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;

    height: 110px;
}

#optionsInterface {
    position: fixed;
    z-index: 1;
    inset: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    height: var(--input_element_height);
    background-color: rgb(70, 70, 70);
}

#optionsInterface button {
    width: 100%;
    height: var(--input_element_height);
    background-color: rgb(100, 100, 100);

    color: white;

    padding: 0;
}