:root {
    --input_element_height: 30px;
    --open_player_button_button_height: 5em;
    --default-ui-element-background-color: rgb(128, 128, 128);
    --file-element-height: 40px;
}

/* BASE ELEMENTS START */
button {
    background-color: var(--default-ui-element-background-color);
    color: #000;
}

body {
    max-height: 100%;
    background-color: rgb(50, 50, 50);
    overflow: hidden;
    margin: 0px;
}

dialog {
    background-color: rgb(50, 50, 50);
}

dialog::backdrop {
    background-color: rgba(100, 100, 100, 0.5);
}
/* BASE ELEMENTS END */

/* CLASSES START */
#file_elements_container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, var(--file-element-height));
    gap: 5px;
    
    height: 100%;
    padding-top: 5px;
    padding-bottom: calc( var(--input_element_height) + var(--open_player_button_button_height) );
    margin-top: var(--input_element_height);
    overflow: auto;
}

.file {
    background-color: var(--default-ui-element-background-color);
    border-radius: 5px;
    text-align: center;
    align-content: center;
    overflow: hidden;
    
    height: var(--file-element-height);
}

#options_container {
    position: fixed;
    z-index: 1;
    inset: 0;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    
    height: var(--input_element_height);
    background-color: rgb(70, 70, 70);
}

#options_container button {
    width: 100%;
    height: var(--input_element_height);
    
    padding: 0;
}

#open_player_button {
    position: sticky;
    margin: 0px;
    bottom: 0px;
    width: 100%;
    border-radius: 5px;
    height: var(--open_player_button_button_height);
}
/* CLASSES END */

/* PLAYER_DIALOG START */
#player_dialog {
    display: grid;
    grid-template-rows: 7fr 1fr;
    height: 100%;
    width: 100%;
}

#player_dialog:not([open]) {
    display: none;
}

#player_dialog #close_button {
    position: relative;
    top: 50%;
}
/* PLAYER_DIALOG END */

/* SETTINGS_DIALOG START */
#settings_dialog {

}

#settings_dialog .container{
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}

#settings_dialog .container div {
    display:flex; 
    flex-direction: row;
    justify-content: space-between;
}

#settings_dialog .container #storageInfo::before {
    content: "Memory Size : ";
}

#storageInfo {
    background-color: var(--default-ui-element-background-color);
}
/* SETTINGS_DIALOG END */

/* LOADING_DIALOG END */
/* LOADING_DIALOG END */